.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Aumenta el espacio entre tarjetas */
  width: 100%; /* Ancho completo de la tarjeta */
  max-width: 700px; /* Máximo ancho para evitar que sea demasiado ancho en pantallas grandes */
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

canvas {
  width: 100% !important;
  height: 400px !important; /* Ajusta la altura según sea necesario */
}

@media (max-width: 768px) {
  canvas {
    height: 300px; /* Ajusta la altura en pantallas pequeñas */
  }
}
